<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php" 
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuite name="Mes super tests">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist proceessUncoveredFromWhitelist="true">
            <directory suffic=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>